#home::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('/background.png') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.2;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  20%,
  80%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}